.unicornImage {
  animation: shake-shake 7s infinite ease-in-out;
  visibility: visible;
  position: fixed;
  top: 50px;
  z-index: 5000;
}

@keyframes shake-shake {
  from {left: -50%;}
    to {left: 120%;}
  10% {
    transform: rotate(10deg)
  }

  20% {
    transform: rotate(-30deg)
  }
  
  30% {
    transform: rotate(10deg)
  }
  
  40% {
    transform: rotate(-20deg)
  }
  
  50% {
    transform: rotate(10deg)
  }

  60% {
    transform: rotate(-30deg)
  }
  
  70% {
    transform: rotate(10deg)
  }
  
  80% {
    transform: rotate(-20deg)
  }

  90% {
    transform: rotate(10deg)
  }

  100% {
    transform: rotate(-30deg)
  }

}